.uploadButton {
	background-color:#77d42a;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:14px 24px;
	text-decoration:none;
}.uploadButton:hover {
	background-color:#5cb811;
}.uploadButton:active {
	position:relative;
	top:1px;
}