<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DropDirectory" value="C:\qa_data\drop"/>
    <add key="PendingDirectory" value="C:\qa_data\pending_approval"/>
    <add key="CompletedDirectory" value="C:\qa_data\completed"/>
    <add key="ProcessingDirectory" value="C:\qa_data\processing"/>

    <add key="GenealogyThicknessDropDirectory" value="C:\genealogy_data\thickness\drop"/>
    <add key="GenealogyThicknessPendingDirectory" value="C:\genealogy_data\thickness\pending_approval"/>
    <add key="GenealogyThicknessCompletedDirectory" value="C:\genealogy_data\thickness\completed"/>
    <add key="GenealogyThicknessProcessingDirectory" value="C:\genealogy_data\thickness\processing"/>

    <add key="GenealogyWeightDropDirectory" value="C:\genealogy_data\weight\drop"/>
    <add key="GenealogyWeightPendingDirectory" value="C:\genealogy_data\weight\pending_approval"/>
    <add key="GenealogyWeightCompletedDirectory" value="C:\genealogy_data\weight\completed"/>
    <add key="GenealogyWeightProcessingDirectory" value="C:\genealogy_data\weight\processing"/>


    <add key="FiringCircuitsDropDirectory" value="C:\qa_data\firing_circuits\drop"/>
    <add key="FiringCircuitsPendingDirectory" value="C:\qa_data\firing_circuits\pending_approval"/>
    <add key="FiringCircuitsCompletedDirectory" value="C:\qa_data\firing_circuits\completed"/>
    <add key="FiringCircuitsProcessingDirectory" value="C:\qa_data\firing_circuits\processing"/>

    <add key="PECDropDirectory" value="C:\qa_data\PEC\drop"/>
    <add key="PECPendingDirectory" value="C:\qa_data\PEC\pending_approval"/>
    <add key="PECCompletedDirectory" value="C:\qa_data\PEC\completed"/>
    <add key="PECProcessingDirectory" value="C:\qa_data\PEC\processing"/>

  
  </appSettings>
  <connectionStrings>
    <add name="qadataDb" connectionString="Server=localhost;Database=MES_Dev;User ID=webuser;Password=webuser;"/>
  </connectionStrings>
</configuration>